<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: html-head(~{::assets})}">
	
	<th:block th:fragment="assets">
	<script th:src="@{/js/update-password.js}" defer></script>
	<link rel="stylesheet" th:href="@{/css/user.css}">
	</th:block>
	
</head>
<body>
	<div th:replace="~{fragments/header :: body-design(~{::.main-contents})}">
		<div class="main-contents">
			<div class="login-wrapper">
				<h2>비밀번호 변경</h2>
				<div draggable="false" class="no-drag">바꿀 비밀번호를 적어주세요.</div>
				<form id="updateForm" class="loginForm"> <!-- axios에서 데이터 전송을 담당할 예정이므로 th:action 태그는 필요 없다. -->
					<input type="password" id="pw" placeholder="비밀번호(영문+숫자 8자 이상)" required>
					<input type="password" id="pwCheck" placeholder="비밀번호 한 번 더 입력" required>
					<div id="serverMessage" class="checkMessage"></div>
					<button type="submit">변경</button>
				</form>
			</div>
		</div>
	</div>
</body>